<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
  SCOOB
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
     <h2>SCOOB</h2>
     <p>Na maior aventura de Scooby-Doo até agora, veja a história nunca contada de como os amigos de longa data Scooby e Shaggy se conheceram e como eles se uniram aos jovens detetives Fred, Velma e Daphne para formar o famoso Mystery Inc. Now, com centenas de casos resolvidos, Scooby e a gangue enfrentam o maior e mais difícil mistério de todos os tempos: um plano maligno para libertar o cão fantasma Cerberus no mundo. Enquanto eles correm para parar esse "dogpocalypse" global, a gangue descobre que Scooby tem um legado secreto e um destino épico maior do que se imaginava.</p>
     <ion-button color="danger" size="small">Assistir</ion-button>
     
     <img src="https://image.tmdb.org/t/p/w220_and_h330_face/zG2l9Svw4PTldWJAzC171Y3d6G8.jpg">
    
      
    </div>