<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ursinhos Carinhosos 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
     <h2>Ursinhos Carinhosos</h2>
     <p>Os Ursinhos Carinhosos têm seu trabalho cortado para eles, porque Nicolas, um assistente solitário de mágico, está prestes a cair sob a influência maligna de um espírito mau que vive em um livro de magia antigo - parece que Nicolas fará quase qualquer coisa pelos amigos . Além de Nicolas, Kim e Jason estão com problemas porque estão começando a não confiar nas pessoas depois de sofrer muitas decepções.</p>
     <ion-button color="danger" size="small">Assistir</ion-button>
     
     
    
      
    </div>