<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
   Piggley WInks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
     <h2>  Piggley WInks</h2>
     <p>akers! The Adventures of Piggley Winks é uma série de televisão infantil animada. O programa é animado usando imagens geradas por computador e transmitido nos Estados Unidos pela PBS Kids de 2003 a 2008.

      O programa narra as aventuras de infância de Piggley Winks, um porco antropomórfico da Irlanda e como ele relaciona essas histórias com seus netos como avô nos dias atuais.
      
      A palavra "jakers" era originalmente um eufemismo para "Jesus" na Irlanda durante as décadas de 1950 e 1960 e era uma exclamação de surpresa, prazer, consternação ou alarme. Piggley e seu pai o usam para expressar sua alegria quando descobrem algo em suas aventuras.</p>
     <ion-button color="danger" size="small">Assistir</ion-button>
     
     <img src="https://i.pinimg.com/736x/a7/62/09/a76209e342fb772e4124203148ed412b.jpg">
    
      
    </div>