<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
   AD ASTRA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
     <h2>AD astra</h2>
     <p>O futuro próximo, um momento em que a esperança e as dificuldades levam a humanidade a olhar para as estrelas e além. Enquanto um fenômeno misterioso ameaça destruir a vida no planeta Terra, o astronauta Roy McBride assume uma missão através da imensidão do espaço e de seus muitos perigos para descobrir a verdade sobre uma expedição perdida que décadas antes enfrentava ousadamente o vazio e o silêncio em busca do desconhecido.</p>
     <ion-button color="danger" size="small">Assistir</ion-button>
     
     <img src="https://image.tmdb.org/t/p/w220_and_h330_face/xBHvZcjRiWyobQ9kxBhO6B2dtRI.jpg">
    
      
    </div>