<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      simpsons 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
     <h2>simpsons</h2>
     <p>A família Simpsons mora na cidade de Springfield, uma cidade americana como qualquer outra. Homer trabalha como inspetor de segurança numa usina de energia nuclear. Marge tenta manter a paz em sua família. Bart é um travesso garoto de 10 anos. Lisa, 8, é a inteligente da família, que adora tocar saxofone e é vegetariana. E a pequena Maggie conquista todos enquanto não larga sua chupeta. E a série tem um rico, e muitas vezes estranho, universo de personagens que também habitam Springfield. Com roteiros inteligentes, humor subversivo e divertidamente genial, a série faz piadas de si mesma e de todo mundo que aparecer em seu caminho.</p>
     <ion-button color="danger" size="small">Assistir</ion-button>
     
     <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/adZ9ldSlkGfLfsHNbh37ZThCcgU.jpg">
    
      
    </div>